body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Transisi Halus Saat Menu Diklik */
.page-content {
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(8px); }
    to { opacity: 1; transform: translateY(0); }
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #E1BEE7; border-radius: 10px; }